body{
    background-image: url("../house_img_new.jpg");
    background-repeat: no-repeat;
}

#modal-content {
    display: none;
    background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close_btn:hover {
    cursor: pointer;
}